.circle {
	width: 50px;
	border-radius: 50%;
	line-height: 0;
	position: relative;
}

.circle::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.circle>* {
	position: absolute;
	bottom: 50%;
	width: 100%;
	text-align: center;
}